# add files to ignore
*.png
*.csv
.DS_Store
# add folders to ignore
StatSheets/
Tables_For_Timeline_Maps/
Report_Checks/

# pkl files
*.pkl

# python cache
__pycache__/

# jupyter notebook checkpoints
.ipynb_checkpoints/

# pyc files
*.pyc